{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      {% for source in news_sources %}
        <div class="col-xs-12 col-sm-6 col-md-3 cstm-source-card">
          <div>
            <h3>{{ source.name }}</h3>
            <p class="cstm-no-margin">{{ source.description }}</p>
          </div>
         
          <div class="cstm-actions">
            <a href="/source/{{ source.id }}"><button class="btn btn-sm">view articles</button></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}