{% extends 'base.html' %}

{% block navbar %}
  <nav class="navbar cstm-navbar navbar-light sticky-top">
    <div class="container">
      <a href="/" class="navbar-brand cstm-navbar-brand"><h1>NH</h1></a>
      <p class="navbar-brand">News Highlight</p>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        arial-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="/" class="nav-link">Home<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}